<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>POS-Categories-Order</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- normalize & reset style -->
  <link rel="stylesheet" href="http://www.dar-elweb.com/demos/zarpos/assets/css/normalize.min.css" type="text/css">
  <link rel="stylesheet" href="http://www.dar-elweb.com/demos/zarpos/assets/css/reset.min.css" type="text/css">
  <link rel="stylesheet" href="http://www.dar-elweb.com/demos/zarpos/assets/css/jquery-ui.css" type="text/css">
  <!-- google lato font -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900,300" rel="stylesheet" type="text/css">
  <!-- Bootstrap Core CSS -->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap-horizon -->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/css/bootstrap-horizon.css" rel="stylesheet">
  <!-- datatable style 
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/datatables/css/dataTables.bootstrap.css" rel="stylesheet">-->
  <!-- font awesome -->
  <link rel="stylesheet" href="http://www.dar-elweb.com/demos/zarpos/assets/css/font-awesome.min.css">
  <!-- include summernote css-->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/css/summernote.css" rel="stylesheet">
  <!-- waves -->
  <link rel="stylesheet" href="http://www.dar-elweb.com/demos/zarpos/assets/css/waves.min.css">
  <!-- daterangepicker -->
  <link rel="stylesheet" type="text/css" href="./pos-css/daterangepicker.css">
  <!-- css for the preview keyset extension -->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/css/keyboard-previewkeyset.css" rel="stylesheet">
  <!-- keyboard widget style -->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/css/keyboard.css" rel="stylesheet">
  <!-- Select 2 style -->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/css/select2.min.css" rel="stylesheet">
  <!-- datepicker css -->
  <link rel="stylesheet" type="text/css" href="http://www.dar-elweb.com/demos/zarpos/assets/css/bootstrap-datepicker.min.css">
  <!-- Sweet alert swal -->
  <link rel="stylesheet" type="text/css" href="./pos-css/sweetalert.css">
  <!-- Custom CSS -->
  <link href="./pos-css/Style-Light.css" rel="stylesheet">
  <!-- jQuery -->
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery-2.2.2.min.js"></script>
  <script type="text/javascript" src="./pos-js/loading.js"></script>

	<!-- angular links -->
	<script src="./pos-js/angular.min.js"></script>
	<script src="./pos-js/angular-app.js"></script>
	<script src="./pos-js/controllers/pos-filter.js"></script>
	<script src="./pos-js/controllers/productController.js"></script>
	<script src="./pos-js/controllers/ordersController.js"></script>
	<script src="./pos-js/controllers/headerController.js"></script>
	<script src="./pos-js/controllers/customerPageController.js"></script>
	<script src="./pos-js/services/ordersService.js"></script>
	<script src="./pos-js/services/productService.js"></script>
	<script src="./pos-js/services/customerPageService.js"></script>
	<script src="./pos-js/services/newCustomerService.js"></script>
	<script src="./pos-js/services/loginService.js"></script>
	<script src="http://code.angularjs.org/snapshot/angular-messages.js"></script>
	
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
	  
		<!--<script>
			function myFunction() {
				var x = document.getElementById('myDIV');
				if (x.style.display === 'none') {
					x.style.display = 'block';
				} else {
					x.style.display = 'none';
				}
			}
		</script>-->
	
	<style>
	
	</style>
</head>

<body class="pace-done" ng-app="myApp">
  <div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>
    <!-------------------------------------header part start here---------------------------------------------------------------->
  
	<!-- Fixed header top start here -->
    <div class="navbar" id="myDIV" ng-hide="show == true" ng-include="'header.html'" ng-controller="initController" >

    </div>
    <!-- Fixed header top end here -->
  
  <!-------------------------------------------------header part end here---------------------------------------------------->
<!-- Navigation start here -->
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-bottom: 30px;padding-right:0px !important;padding-left:0px !important;" ng-controller="initController">
			 <nav class="navbar navbar-default " role="navigation">
				  <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>					
				  </div>
				  <!-- Brand and toggle get grouped for better mobile display -->
				  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
					  <li class="flat-box waves-effect waves-block"><a href="pos-site-index.html"><i class="fa fa-credit-card"></i> POS</a></li>
					  <li class="flat-box waves-effect waves-block"><a href="products-page.html"><i class="fa fa-archive"></i> Product</a></li>
					  <li class="dropdown">
						<a href="#" class="dropdown-toggle flat-box waves-effect waves-block" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i> People <span class="caret"></span></a>
						<ul class="dropdown-menu">
						  <li class="flat-box waves-effect waves-block"><a href="people-customers.html"><i class="fa fa-user"></i> Customers</a></li>
						  <!--<li class="flat-box waves-effect waves-block"><a href="people-suppliers.html"><i class="fa fa-truck"></i> Suppliers</a></li>-->
						</ul>
					  </li>
					  <!--<li class="flat-box waves-effect waves-block"><a href="sales.html"><i class="fa fa-ticket"></i> Sales</a></li>
					  <li class="flat-box waves-effect waves-block"><a href="expense.html"><i class="fa fa-inr"></i> Expense</a></li>-->
					  <li class="dropdown">
						<a href="#" class="dropdown-toggle flat-box waves-effect waves-block" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bookmark"></i> Categories <span class="caret"></span></a>
						<ul class="dropdown-menu">
						  <li class="flat-box waves-effect waves-block"><a href="categories-orders.html"><i class="fa fa-archive"></i>Orders</a></li>
						  <!--<li class="flat-box waves-effect waves-block"><a href="categories-expense.html"><i class="fa fa-inr"></i> Expense</a></li>-->
						</ul>
					  </li>
					  <li class="flat-box waves-effect waves-block"><a href="pos-settings.html"><i class="fa fa-cogs"></i> Setting</a></li>
					  <li class="flat-box waves-effect waves-block"><a href="pos-reports.html"><i class="fa fa-line-chart"></i> Reports</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					  <!--<li><button onclick="myFunction()">Try it</button></li>-->
					  <li class="flat-box waves-effect waves-block" style="padding-right:10px;" ng-hide ="show == true" id="myBtn" ><a href="#" title="Logout" ng-click="hideHeader()">Hide Header</a></li>
					   <li class="flat-box waves-effect waves-block" style="padding-right:10px;" ng-show ="show == true" id="myBtn" ><a href="#" title="Logout" ng-click="showHeader()">Show Header</a></li>
					  <li class="flat-box waves-effect waves-block" style="padding-right:20px;padding-top:5px"><a href="pos-index.html" title="Logout"><i class="fa fa-sign-out fa-lg"></i></a></li>
					</ul>
				  </div>
				  <!-- Brand and toggle get grouped for better mobile display end here-->
				  <div id="loadingimg" style="display: none;"></div>
			  </nav>
			</div>
			<!-- navigation end here -->

<div ng-controller="ordersController">			
<div ng-switch="x">
  <!-- Page Content start here -->
  <div class="container">
    <div class="row">
      <div id="Table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <div class="clear"></div>
		
		<div style="padding-bottom:40px;">
        <div class="dataTables_length pull-left" id="Table_length">
          <label>Show
            <select name="Table_length" aria-controls="Table" ng-model="pageSize" class="form-control input-sm" id="pageSize">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select> entries</label>
        </div>	
		
        <div id="Table_filter" class="pull-right">
          <label>Search:
            <input type="search" class="form-control input-sm" placeholder="" aria-controls="Table" ng-model="searchText" id="gosearch">
          </label>
        </div>
		</div>
		<!-- add,update,delete  successfully msg start here -->
		<div class="alert alert-success" ng-if="message">
				<a href="#" class="close" ng-click="clearMessage()">&times;</a>
				{{message}}
		</div>
		<!-- add,update,delete  successfully msg end here -->
		
        <div ng-switch-when="Table">	
        <table id="Table categories-order" class="table table-striped table-bordered dataTable no-footer"  cellspacing="0" width="100%" role="grid" aria-describedby="Table_info" style="width: 100%;">
          <thead class="table-head-styl">
            <tr role="row">
              <th ng-click = "sortData('id')">Id<div ng-class = "getSortClass('username')"></div></th>
              <th ng-click = "sortData('category')">Category<div ng-class = "getSortClass('username')"></div></th>
              <th ng-click = "sortData('subcategory')">Sub Category<div ng-class = "getSortClass('username')"></div></th>
			  <th ng-click = "sortData('name')">Name<div ng-class = "getSortClass('username')"></div></th>
              <th ng-click = "sortData('modelno')">Model No<div ng-class = "getSortClass('username')"></div></th>
              <th ng-click = "sortData('brand')">Brand<div ng-class = "getSortClass('username')"></div></th>
			  <th ng-click = "sortData('price')">Price<div ng-class = "getSortClass('username')"></div></th>
			  <!--<th ng-click = "sortData('warrenty')">WARRENTY<div ng-class = "getSortClass('username')"></div></th>-->
			  <th ng-click = "sortData('hsncode')">HSN Code<div ng-class = "getSortClass('username')"></div></th>
			  <th ng-click = "sortData('barcode')">BAR Code<div ng-class = "getSortClass('username')"></div></th>
			  <th ng-click = "sortData('quantity')">Quantity<div ng-class = "getSortClass('username')"></div></th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
		  
            <tr role="row" class="odd" ng-repeat="user in users | filter:searchText | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:sortColumn:reverseSort">
              <td>{{user.id}}</td>
              <td>{{user.category}}</td>
              <td>{{user.subcategory}}</td>
              <td>{{user.name}}</td>
			  <td>{{user.modelno}}</td>
              <td>{{user.brand}}</td>
              <td style="text-align:right;">{{user.price}}</td>
              <!--<td>{{user.warrenty}}</td>-->
			  <td>{{user.hsncode}}</td>
			  <td>{{user.barcode}}</td>
			  <td style="text-align:center;">
			  <input type="number" id="qt-1505" class="form-control" ng-model="user.quantity"  placeholder="0" value="1" min="1" maxlength="10" style="width:70px;">
			  <!--<div class="nopadding productNum">
				<a href="javascript:void(0)">
				  <span class="fa-stack fa-sm decbutton">
					  <i class="fa fa-square fa-stack-2x light-grey" ></i>
					  <i class="fa fa-minus fa-stack-1x fa-inverse white" ng-click="ordersreduceQuantity(user)" ></i>
				  </span>
				</a>
					<input type="number" id="qt-1505" class="form-control" ng-model="user.quantity" value="1"  placeholder="0" maxlength="10" min="1" style="width:70px;">
					<a href="javascript:void(0)">
						<span class="fa-stack fa-sm incbutton">
							<i class="fa fa-square fa-stack-2x light-grey" ></i>
							<i class="fa fa-plus fa-stack-1x fa-inverse white" ng-click="ordersaddQuantity(user)"></i>
						</span>
					</a>
				</div>-->
				</td>
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
              <td style="text-align:center;">
					<div class="btn-group">
					  <a class="btn btn-action" href="#" dropdown-toggle="" data-toggle="dropdown"><i class="fa fa-cog fa-fw"></i> Action</a>
					 <a class="btn btn-action dropdown-toggle" data-toggle="dropdown" href="#"><span class="fa fa-caret-down " title="Toggle dropdown menu"></span></a>
						<ul class="dropdown-menu">
							<!--<li><a href="#" data-toggle="modal" data-target="#placeorderModal" ng-click="placeorderDeatils(user)"><i class="fa fa-pencil fa-fw"></i> Place Order</a></li>-->
							<!--<li><a href="#" data-toggle="modal" data-target="#EditModal" ng-click="editUser(user)"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>-->
							<li><a href="#" data-toggle="modal" data-target="#deleteModal" ng-click="dltUser(user)"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
							<!--<li><a class="open-modalimage" data-id="529540c13b2afdfacf7889fb3c6bb326.jpeg" href="" data-toggle="modal" data-target="#ImageModal">
								<i class="fa fa-picture-o" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" ></i>View Image</a>
							</li>
							<li><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i> View product</a></li>
							<li><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i> Modify Stock</a></li>
							<li>
								<a class="#" href="#" data-toggle="modal" data-target="#barcode">
								<i class="fa fa-barcode" data-toggle="tooltip" data-placement="top" title="" data-original-title="print barcode"></i>View Bar Code</a>
							</li>
							<li>
								<a class="#" href="#" data-toggle="modal" data-target="#barcode">
								<i class="fa fa-hsncode" data-toggle="tooltip" data-placement="top" title="" data-original-title="print hsncode"></i>View HSN Code</a>
							</li>-->
							
						</ul>
					</div>
              </td>
            </tr>
			
          </tbody>
        </table>
		
	</div>
		
      </div>
    </div>
	
	
    <!-- Button place order -->
    <button type="button" class="btn btn-place-order pull-right" data-toggle="modal" data-target="#placeorderModal">
      Place Order</button>
  
  
			<!-- previous next buttons start here -->
			<div class="buttons-countrows" >
				<button class="btn-prev btn-md" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
					<< Previous
				</button>
				<span class="countpages">
					{{currentPage+1}}{{numberOfPages()}}
				</span>
				<button class="btn-next btn-md" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
					Next >>
				</button>
			</div>
			<!-- previous next buttons end here -->
	

		</div>
  <!-- /.container -->
			
</div>  




<!-- Modal for Adding new user start here-->
  <div class="modal fade" id="Addproduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Product</h4>
        </div>
        <form action="#" method="post" accept-charset="utf-8" id="addform" enctype="multipart/form-data">
          <div class="modal-body">
            
            <div class="form-group controls">
              <label for="ProductCode">ID</label>
              <input type="text" name="code" required="" class="form-control" id="ProductCode" placeholder="ID" ng-model="newUser.id" >
            </div>
			
			<div class="form-group controls">
              <label for="Category">Category</label>
              <input type="text" name="Category" required="" class="form-control" id="Category" placeholder="Category" ng-model="newUser.category" >
            </div>
			
			<div class="form-group controls">
              <label for="subCategory">Sub Category</label>
              <input type="text" name="subCategory" required="" class="form-control" id="subCategory" placeholder="Sub Category" ng-model="newUser.subcategory" >
            </div>
            
            <!--<div class="form-group">
              <label for="Category">Category</label>
              <select class="form-control" name="category" id="Category" ng-model="newUser.category">
                <option>Category</option>
                <option value="power">Power tex</option>
                <option value="welding">Welding Tools</option>
                <option value="air">Air Tools</option>
                <option value="painting">Painting Tools</option>
				<option value="gardening">Gardening Tools</option>
              </select>
            </div>
			
			<div class="form-group">
              <label for="Category">Sub Category</label>
              <select class="form-control" name="subcategory" id="subCategory" ng-model="newUser.subcategory">
                <option>Sub Category</option>
                <option value="anglegrinder">Angle Grinder1</option>
                <option value="fruits">Angle Grinder2</option>
                <option value="Clothing">Angle Grinder3</option>
                <option value="services">Angle Grinder4</option>
              </select>
            </div>-->
			
			<div class="form-group">
              <label for="ProductName">Name</label>
              <input type="text" name="name" required="" class="form-control" id="ProductName" placeholder="Name" ng-model="newUser.name">
            </div>
			
			<div class="form-group">
              <label for="modelNo">Model No</label>
              <input type="text" name="name" required="" class="form-control" id="modelNo" placeholder="Model No" ng-model="newUser.modelno">
            </div>
			
			<div class="form-group">
              <label for="brandName">Brand Name</label>
              <input type="text" name="name" required="" class="form-control" id="brandName" placeholder="Brand Name" ng-model="newUser.brand">
            </div>
			 
            <div class="form-group">
              <label for="Price">Price (INR)</label>
              <input type="text" required="" name="price" class="form-control" id="Price" placeholder="Price" ng-model="newUser.price">
            </div>
            
			<!--<div class="form-group">
              <label for="warrenty">Warrenty</label>
              <input type="text" required="" name="warrenty" class="form-control" id="warrenty" placeholder="Warrenty" ng-model="newUser.warrenty">
            </div>-->
			
            <div class="form-group">
              <label for="hsncode">HSN Code</label>
              <input type="text" name="alertqt" class="form-control" id="hsncode" placeholder="HSN Code" ng-model="newUser.hsncode">
            </div>
			
			<div class="form-group">
              <label for="barcode">BAR Code</label>
              <input type="text" name="barcode" class="form-control" id="barcode" placeholder="BAR Code" ng-model="newUser.barcode">
            </div>
			
			<div class="form-group">
              <label for="quantity">Quantity</label>
              <input type="text" name="quantity" class="form-control" id="quantity" placeholder="Quantity" ng-model="newUser.quantity">
            </div>
			
             <!--<div class="form-group">
              <label for="exampleInputFile">Input Image</label>
              <input type="file" name="userfile" id="ImageInput">
            </div>-->
          </div>
		  
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-add" ng-click="saveUser();" ng-disabled="exampleForm.$invalid">Save</button>
          </div>
	
        </form>
      </div>
    </div>
  </div>
  <!-- /.Modal for Adding new user end here -->
  
  
  <!-- Modal for editing new user strat here-->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="EditModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Product</h4>
        </div>
        <form action="#" method="post" accept-charset="utf-8" id="addform" enctype="multipart/form-data">
          <div class="modal-body">
            
            <div class="form-group controls">
              <label for="ProductCode">ID</label>
              <input type="text" name="code" required="" class="form-control" id="ProductCode" placeholder="ID" ng-model="clickedUser.id">
            </div>
            
			<div class="form-group controls">
              <label for="Category">Category</label>
              <input type="text" name="Category" required="" class="form-control" id="Category" placeholder="ID" ng-model="clickedUser.category" >
            </div>
			
			<div class="form-group controls">
              <label for="subCategory">Sub Category</label>
              <input type="text" name="subCategory" required="" class="form-control" id="subCategory" placeholder="ID" ng-model="clickedUser.subcategory">
            </div>
			
            <!--<div class="form-group">
              <label for="Category">Category</label>
              <select class="form-control" name="category" id="Category" ng-model="clickedUser.category">
                <option>Category</option>
                <option value="power">Power tex</option>
                <option value="welding">Welding Tools</option>
                <option value="air">Air Tools</option>
                <option value="painting">Painting Tools</option>
				<option value="gardening">Gardening Tools</option>
              </select>
            </div>
			
			<div class="form-group">
              <label for="Category">Sub Category</label>
              <select class="form-control" name="subcategory" id="subCategory" ng-model="clickedUser.subcategory">
                <option>Sub Category</option>
                <option value="anglegrinder">Angle Grinder1</option>
                <option value="fruits">Angle Grinder2</option>
                <option value="Clothing">Angle Grinder3</option>
                <option value="services">Angle Grinder4</option>
              </select>
            </div>-->
			
			<div class="form-group">
              <label for="ProductName">Name</label>
              <input type="text" name="name" required="" class="form-control" id="ProductName" placeholder="Name" ng-model="clickedUser.name">
            </div>
			
			<div class="form-group">
              <label for="modelNo">Model No</label>
              <input type="text" name="name" required="" class="form-control" id="modelNo" placeholder="Model No" ng-model="clickedUser.modelno">
            </div>
			
			<div class="form-group">
              <label for="brandName">Brand Name</label>
              <input type="text" name="name" required="" class="form-control" id="brandName" placeholder="Brand Name" ng-model="clickedUser.brand">
            </div>
			 
            <div class="form-group">
              <label for="Price">Price (INR)</label>
              <input type="text" required="" name="price" class="form-control" id="Price" placeholder="Price" ng-model="clickedUser.price">
            </div>
            
			<!--<div class="form-group">
              <label for="warrenty">Warrenty</label>
              <input type="text" required="" name="warrenty" class="form-control" id="warrenty" placeholder="Warrenty" ng-model="clickedUser.warrenty">
            </div>-->
			
            <div class="form-group">
              <label for="hsncode">HSN Code</label>
              <input type="text" name="alertqt" class="form-control" id="hsncode" placeholder="HSN Code" ng-model="clickedUser.hsncode">
            </div>
			
			<div class="form-group">
              <label for="barcode">BAR Code</label>
              <input type="text" name="barcode" class="form-control" id="barcode" placeholder="BAR Code" ng-model="clickedUser.barcode">
            </div>
			
			<div class="form-group">
              <label for="quantity">Quantity</label>
              <input type="text" name="quantity" class="form-control" id="quantity" placeholder="Quantity" ng-model="clickedUser.quantity">
            </div>
			
            <!--<div class="form-group">
              <label for="exampleInputFile">Input Image</label>
              <input type="file" name="userfile" id="ImageInput">
            </div>-->
          </div>
		  
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-add" ng-click="updateUser()" data-dismiss="modal">Save</button>
          </div>
	
        </form>
      </div>
    </div>
  </div>
  <!-- /.Modal for editing new user end here -->

   <!-- Modal for delete start here-->
	  <div class="modal fade" id="deleteModal" role="dialog">
		<div class="modal-dialog">
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Delete User Registration</h4>
			</div>
			<div class="modal-body">
				<strong style="color:red;">Your going to delete {{clickedUser.phone}}. All Information.....</strong>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-add pull-left" data-dismiss="modal" ng-click="deleteUser()">Yes</button>
			  <button type="button" class="btn btn-add" data-dismiss="modal">No</button>
			</div>
		  </div> 
		</div>
	  </div>
	<!-- Modal for delete end here --> 

  <!--Modal for place order popup start here  -->
  <div class="modal fade" id="placeorderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Place Order</h4>
        </div>
        <form action="#" method="post" accept-charset="utf-8" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="form-group">
			  <table class="table placeordertable">				 
						 <tbody>
							  <h2><span>Order Placed Successfully</span></h2>
							  <tr>					  
								   <td><span><strong>ID</strong></span></td>
								   <td><span>001</span></td>					  
							  </tr>
							  <tr>					
								   <td><span><strong>NAME</strong></span></td>
								   <td>ashok</td>					  
							  </tr>
							   <tr>					
								   <td><span><strong>DATE</strong></span></td>
								   <td>{{current_date_format}}</td>				  
							  </tr> 
						 </tbody>
					</table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-add">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.Modal for place order popup end here -->
</div>

<!-- slim scroll script -->
  <script type="text/javascript" src="./pos-js/jquery.slimscroll.min.js"></script>
  <!-- waves material design effect -->
  <script type="text/javascript" src="./pos-js/waves.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script type="text/javascript" src="./pos-js/bootstrap.min.js"></script>
  <!-- keyboard widget dependencies -->
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.keyboard.js"></script>
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.keyboard.extension-all.js"></script>
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.keyboard.extension-extender.js"></script>
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.keyboard.extension-typing.js"></script>
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.mousewheel.js"></script>
  <!-- select2 plugin script -->
  <script type="text/javascript" src="./pos-js/select2.min.js"></script>
  <!-- dalatable scripts 
  <script src="../../pos-js/jquery.dataTables.min.js"></script>
  <script src="../../pos-js/dataTables.bootstrap.js"></script>-->
  <!-- summernote js -->
  <script src="./pos-js/summernote.js"></script>
  <!-- chart.js script -->
  <script src="./pos-js/Chart.js"></script>
  <!-- moment JS -->
  <script type="text/javascript" src="./pos-js/moment.min.js"></script>
  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="./pos-js/daterangepicker.js"></script>
  <!-- Sweet Alert swal -->
  <script src="./pos-js/sweetalert.min.js"></script>
  <!-- datepicker script -->
  <script src="./pos-js/bootstrap-datepicker.min.js"></script>
  <!-- creditCardValidator script -->
  <script src="./pos-js/jquery.creditCardValidator.js"></script>
  <!-- creditCardValidator script -->
  <script src="./pos-js/credit-card-scanner.js"></script>
  <script src="./pos-js/jquery.redirect.js"></script>
  <!-- ajax form -->
  <script src="./pos-js/jquery.form.min.js"></script>
  <!-- custom script -->
  <script src="./pos-js/app.js"></script>


</body>

</html>