<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>POS - point of sale Dar Elweb</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- normalize & reset style -->
  <link rel="stylesheet" href="http://www.dar-elweb.com/demos/zarpos/assets/css/normalize.min.css" type="text/css">
  <link rel="stylesheet" href="http://www.dar-elweb.com/demos/zarpos/assets/css/reset.min.css" type="text/css">
  <link rel="stylesheet" href="http://www.dar-elweb.com/demos/zarpos/assets/css/jquery-ui.css" type="text/css">
  <!-- google lato font -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900,300" rel="stylesheet" type="text/css">
  <!-- Bootstrap Core CSS -->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap-horizon -->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/css/bootstrap-horizon.css" rel="stylesheet">
  <!-- datatable style -->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/datatables/css/dataTables.bootstrap.css" rel="stylesheet">
  <!-- font awesome -->
  <link rel="stylesheet" href="http://www.dar-elweb.com/demos/zarpos/assets/css/font-awesome.min.css">
  <!-- include summernote css-->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/css/summernote.css" rel="stylesheet">
  <!-- waves -->
  <link rel="stylesheet" href="http://www.dar-elweb.com/demos/zarpos/assets/css/waves.min.css">
  <!-- daterangepicker -->
  <link rel="stylesheet" type="text/css" href="./pos-css/daterangepicker.css">
  <!-- css for the preview keyset extension -->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/css/keyboard-previewkeyset.css" rel="stylesheet">
  <!-- keyboard widget style -->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/css/keyboard.css" rel="stylesheet">
  <!-- Select 2 style -->
  <link href="http://www.dar-elweb.com/demos/zarpos/assets/css/select2.min.css" rel="stylesheet">
  <!-- datepicker css -->
  <link rel="stylesheet" type="text/css" href="http://www.dar-elweb.com/demos/zarpos/assets/css/bootstrap-datepicker.min.css">
  <!-- Sweet alert swal -->
  <link rel="stylesheet" type="text/css" href="./pos-css/sweetalert.css">
  <!-- Custom CSS -->
  <link href="./pos-css/Style-Light.css" rel="stylesheet">
  <!-- jQuery -->
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery-2.2.2.min.js"></script>
  <script type="text/javascript" src="./pos-js/loading.js"></script>
	
	<!-- angular links -->
	<script src="./pos-js/angular.min.js"></script>
	<script src="./pos-js/angular-app.js"></script>
	<script src="./pos-js/controllers/pos-filter.js"></script>
	<script src="./pos-js/controllers/productController.js"></script>
	<script src="./pos-js/controllers/ordersController.js"></script>
	<script src="./pos-js/controllers/headerController.js"></script>
	<script src="./pos-js/controllers/customerPageController.js"></script>
	<script src="./pos-js/services/ordersService.js"></script>
	<script src="./pos-js/services/productService.js"></script>
	<script src="./pos-js/services/customerPageService.js"></script>
	<script src="./pos-js/services/newCustomerService.js"></script>
	<script src="./pos-js/services/loginService.js"></script>
	<script src="http://code.angularjs.org/snapshot/angular-messages.js"></script>
	
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
	  
	  <!--<script>
			function myFunction() {
				var x = document.getElementById('myDIV');
				if (x.style.display === 'none') {
					x.style.display = 'block';
				} else {
					x.style.display = 'none';
				}
			}
		</script>-->
</head>

<body class="pace-done" ng-app="myApp">
  <div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>
   <!-------------------------------------header part start here---------------------------------------------------------------->
  
	<!-- Fixed header top start here -->
    <div class="navbar" id="myDIV" ng-hide="show == true" ng-include="'header.html'" ng-controller="initController" >

    </div>
    <!-- Fixed header top end here -->
  
  <!-------------------------------------------------header part end here---------------------------------------------------->
	 <!-- Navigation start here -->
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"  style="padding-right:0px !important;padding-left:0px !important;" ng-controller="initController">
			 <nav class="navbar navbar-default" role="navigation">
				  <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>					
				  </div>
				  <!-- Brand and toggle get grouped for better mobile display -->
				  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
					  <li class="flat-box waves-effect waves-block"><a href="pos-site-index.html"><i class="fa fa-credit-card"></i> POS</a></li>
					  <li class="flat-box waves-effect waves-block"><a href="products-page.html"><i class="fa fa-archive"></i> Product</a></li>
					  <li class="dropdown">
						<a href="#" class="dropdown-toggle flat-box waves-effect waves-block" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i> People <span class="caret"></span></a>
						<ul class="dropdown-menu">
						  <li class="flat-box waves-effect waves-block"><a href="people-customers.html"><i class="fa fa-user"></i> Customers</a></li>
						  <!--<li class="flat-box waves-effect waves-block"><a href="people-suppliers.html"><i class="fa fa-truck"></i> Suppliers</a></li>-->
						</ul>
					  </li>
					  <!--<li class="flat-box waves-effect waves-block"><a href="sales.html"><i class="fa fa-ticket"></i> Sales</a></li>
					  <li class="flat-box waves-effect waves-block"><a href="expense.html"><i class="fa fa-inr"></i> Expense</a></li>-->
					  <li class="dropdown">
						<a href="#" class="dropdown-toggle flat-box waves-effect waves-block" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bookmark"></i> Categories <span class="caret"></span></a>
						<ul class="dropdown-menu">
						  <li class="flat-box waves-effect waves-block"><a href="categories-orders.html"><i class="fa fa-archive"></i> Orders</a></li>
						  <!--<li class="flat-box waves-effect waves-block"><a href="categories-expense.html"><i class="fa fa-inr"></i> Expense</a></li>-->
						</ul>
					  </li>
					  <li class="flat-box waves-effect waves-block"><a href="pos-settings.html"><i class="fa fa-cogs"></i> Setting</a></li>
					  <li class="flat-box waves-effect waves-block"><a href="pos-reports.html"><i class="fa fa-line-chart"></i> Reports</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					  <!--<li><button onclick="myFunction()">Try it</button></li>-->
					  <li class="flat-box waves-effect waves-block" style="padding-right:10px;" ng-hide ="show == true" id="myBtn" ><a href="#" title="Logout" ng-click="hideHeader()">Hide Header</a></li>
					   <li class="flat-box waves-effect waves-block" style="padding-right:10px;" ng-show ="show == true" id="myBtn" ><a href="#" title="Logout" ng-click="showHeader()">Show Header</a></li>
					  <li class="flat-box waves-effect waves-block" style="padding-right:20px;padding-top:5px"><a href="pos-index.html" title="Logout"><i class="fa fa-sign-out fa-lg"></i></a></li>
					</ul>
				  </div>
				  <!-- Brand and toggle get grouped for better mobile display end here-->
				  <div id="loadingimg" style="display: none;"></div>
			  </nav>
			</div>
			<!-- navigation end here -->
			
  <!-- Page Content start here -->
  <div class="container">
    <div class="row">
      <div id="Table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <div class="clear"></div>
		
        <!--<div class="dataTables_length" id="Table_length">
          <label>Show
            <select name="Table_length" aria-controls="Table" class="form-control input-sm">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select> entries</label>
        </div>
        <div id="Table_filter" class="dataTables_filter">
          <label>Search:
            <input type="search" class="form-control input-sm" placeholder="" aria-controls="Table">
          </label>
        </div>-->
		
		
        <table id="Table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="Table_info" style="width: 100%;">
          <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="Table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Supplier Name: activate to sort column descending" style="width: 203px;">Supplier Name</th>
              <th class="sorting" tabindex="0" aria-controls="Table" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending" style="width: 149px;">Phone</th>
              <th class="hidden-xs sorting" tabindex="0" aria-controls="Table" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 251px;">Email</th>
              <th class="hidden-xs sorting" tabindex="0" aria-controls="Table" rowspan="1" colspan="1" aria-label="Ceated At: activate to sort column ascending" style="width: 242px;">Ceated At</th>
              <th class="sorting" tabindex="0" aria-controls="Table" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 131px;">Action</th>
            </tr>
          </thead>

          <tbody>


            <tr role="row" class="odd">
              <td class="sorting_1">supplier 01</td>
              <td>123456</td>
              <td class="hidden-xs">supplier01@gmail.com</td>
              <td class="hidden-xs">2016-06-18 13:28:23</td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-default" href="javascript:void(0)" data-toggle="popover" data-placement="left" data-html="true" title="" data-content="<a class=&quot;btn btn-danger&quot; >Yes, delete it!</a>" data-original-title="Are you sure ?"><i class="fa fa-times"></i></a>
                  <a class="btn btn-default" href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                </div>
              </td>
            </tr>
            <tr role="row" class="even">
              <td class="sorting_1">Supplier 02</td>
              <td>+123 456789</td>
              <td class="hidden-xs">supplier01@gmail.com</td>
              <td class="hidden-xs">2016-06-18 13:28:45</td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-default" href="javascript:void(0)" data-toggle="popover" data-placement="left" data-html="true" title="" data-content="<a class=&quot;btn btn-danger&quot; >Yes, delete it!</a>" data-original-title="Are you sure ?"><i class="fa fa-times"></i></a>
                  <a class="btn btn-default" href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
		
		
        <!--<div class="dataTables_info" id="Table_info" role="status" aria-live="polite">Showing 1 to 2 of 2 entries</div>
        <div class="dataTables_paginate paging_simple_numbers" id="Table_paginate">
          <ul class="pagination">
            <li class="paginate_button previous disabled" id="Table_previous"><a href="#" aria-controls="Table" data-dt-idx="0" tabindex="0">Previous</a></li>
            <li class="paginate_button active"><a href="#" aria-controls="Table" data-dt-idx="1" tabindex="0">1</a></li>
            <li class="paginate_button next disabled" id="Table_next"><a href="#" aria-controls="Table" data-dt-idx="2" tabindex="0">Next</a></li>
          </ul>
        </div>-->
		
		
      </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-add btn-lg" data-toggle="modal" data-target="#AddSupplier">
      Add Supplier </button>
  </div>
  <!-- /.container -->

  <!-- Modal -->
  <div class="modal fade" id="AddSupplier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Supplier</h4>
        </div>
        <form action="#" method="post" accept-charset="utf-8" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="form-group">
              <label for="SupplierName">Supplier Name</label>
              <input type="text" name="name" maxlength="50" required="" class="form-control" id="SupplierName" placeholder="Supplier Name">
            </div>
            <div class="form-group">
              <label for="SupplierPhone">Phone</label>
              <input type="text" name="phone" maxlength="30" class="form-control" id="SupplierPhone" placeholder="Phone">
            </div>
            <div class="form-group">
              <label for="SupplierEmail">Email</label>
              <input type="email" maxlength="50" name="email" class="form-control" id="SupplierEmail" placeholder="Email">
            </div>
			
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-add">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.Modal -->




 <!-- slim scroll script -->
  <script type="text/javascript" src="../../pos-js/jquery.slimscroll.min.js"></script>
  <!-- waves material design effect -->
  <script type="text/javascript" src="../../pos-js/waves.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script type="text/javascript" src="../../pos-js/bootstrap.min.js"></script>
  <!-- keyboard widget dependencies -->
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.keyboard.js"></script>
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.keyboard.extension-all.js"></script>
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.keyboard.extension-extender.js"></script>
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.keyboard.extension-typing.js"></script>
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.mousewheel.js"></script>
  <!-- select2 plugin script -->
  <script type="text/javascript" src="../../pos-js/select2.min.js"></script>
  <!-- dalatable scripts -->
  <script src="../../pos-js/jquery.dataTables.min.js"></script>
  <script src="../../pos-js/dataTables.bootstrap.js"></script>
  <!-- summernote js -->
  <script src="../../pos-js/summernote.js"></script>
  <!-- chart.js script -->
  <script src="../../pos-js/Chart.js"></script>
  <!-- moment JS -->
  <script type="text/javascript" src="../../pos-js/moment.min.js"></script>
  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="../../pos-js/daterangepicker.js"></script>
  <!-- Sweet Alert swal -->
  <script src="../../pos-js/sweetalert.min.js"></script>
  <!-- datepicker script -->
  <script src="../../pos-js/bootstrap-datepicker.min.js"></script>
  <!-- creditCardValidator script -->
  <script src="../../pos-js/jquery.creditCardValidator.js"></script>
  <!-- creditCardValidator script -->
  <script src="../../pos-js/credit-card-scanner.js"></script>
  <script src="../../pos-js/jquery.redirect.js"></script>
  <!-- ajax form -->
  <script src="../../pos-js/jquery.form.min.js"></script>
  <!-- custom script -->
  <script src="../../pos-js/app.js"></script>


  <div class="note-popover popover in note-link-popover bottom">
    <div class="arrow"></div>
    <div class="popover-content note-children-container"><span><a target="_blank"></a>&nbsp;</span>
      <div class="note-btn-group btn-group note-link">
        <button type="button" class="note-btn btn btn-default btn-sm" title="" data-original-title="Edit"><i class="note-icon-link"></i></button>
        <button type="button" class="note-btn btn btn-default btn-sm" title="" data-original-title="Unlink"><i class="note-icon-chain-broken"></i></button>
      </div>
    </div>
  </div>
  <div class="note-popover popover in note-image-popover bottom">
    <div class="arrow"></div>
    <div class="popover-content note-children-container">
      <div class="note-btn-group btn-group note-imagesize">
        <button type="button" class="note-btn btn btn-default btn-sm" title="" data-original-title="Resize Full"><span class="note-fontsize-10">100%</span></button>
        <button type="button" class="note-btn btn btn-default btn-sm" title="" data-original-title="Resize Half"><span class="note-fontsize-10">50%</span></button>
        <button type="button" class="note-btn btn btn-default btn-sm" title="" data-original-title="Resize Quarter"><span class="note-fontsize-10">25%</span></button>
      </div>
      <div class="note-btn-group btn-group note-float">
        <button type="button" class="note-btn btn btn-default btn-sm" title="" data-original-title="Float Left"><i class="note-icon-align-left"></i></button>
        <button type="button" class="note-btn btn btn-default btn-sm" title="" data-original-title="Float Right"><i class="note-icon-align-right"></i></button>
        <button type="button" class="note-btn btn btn-default btn-sm" title="" data-original-title="Float None"><i class="note-icon-align-justify"></i></button>
      </div>
      <div class="note-btn-group btn-group note-remove">
        <button type="button" class="note-btn btn btn-default btn-sm" title="" data-original-title="Remove Image"><i class="note-icon-trash"></i></button>
      </div>
    </div>
  </div>
</body>

</html>