<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>POS - point of sale</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- normalize & reset style -->
	<link rel="stylesheet" href="./pos-css/normalize.min.css" type="text/css">
	<link rel="stylesheet" href="./pos-css/reset.min.css" type="text/css">
	<link rel="stylesheet" href="./pos-css/jquery-ui.css" type="text/css">
	<!-- google lato font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900,300" rel="stylesheet" type="text/css">
	<!-- Bootstrap Core CSS -->
	<!--<link href="./pos-css/bootstrap.min.css" rel="stylesheet">-->
	<!-- bootstrap-horizon -->
	<link href="./pos-css/bootstrap-horizon.css" rel="stylesheet">
	<!-- datatable style -->
	<link href="./pos-css/dataTables.bootstrap.css" rel="stylesheet">
	<!-- font awesome -->
	<link rel="stylesheet" href="./pos-css/font-awesome.min.css">
	<!-- include summernote css-->
	<link href="./pos-css/summernote.css" rel="stylesheet">
	<!-- waves -->
	<link rel="stylesheet" href="./pos-css/waves.min.css">
	<!-- daterangepicker -->
	<link rel="stylesheet" type="text/css" href="./pos-css/daterangepicker.css">
	<!-- css for the preview keyset extension -->
	<link href="./pos-css/keyboard-previewkeyset.css" rel="stylesheet">
	<!-- keyboard widget style -->
	<link href="./pos-css/keyboard.css" rel="stylesheet">
	<!-- Select 2 style -->
	<link href="./pos-css/select2.min.css" rel="stylesheet">
	<!-- datepicker css -->
	<link rel="stylesheet" type="text/css" href="./pos-css/bootstrap-datepicker.min.css">
	<!-- Sweet alert swal -->
	<link rel="stylesheet" type="text/css" href="./pos-css/sweetalert.css">
	<!-- Custom CSS -->
	<link href="./pos-css/Style-Light.css" rel="stylesheet">
	<!-- jQuery -->
	<script type="text/javascript" src="./pos-js/jquery-2.2.2.min.js"></script>
	<script type="text/javascript" src="./pos-js/loading.js"></script>
	<!-- pdf format js files -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

	<!-- angular links -->
	 <script src="./pos-js/angular.min.js"></script>
  <script src="angular-app.js"></script>
  <script src="./pos-js/controllers/pos-filter.js"></script>
  <script src="./pos-js/controllers/productController.js"></script>
  <script src="./pos-js/controllers/smtCategoriesProductsController.js"></script>
  <script src="./pos-js/controllers/ordersController.js"></script>
  <script src="./pos-js/controllers/headerController.js"></script>
  <script src="./pos-js/controllers/customerPageController.js"></script>
  <script src="./pos-js/controllers/invoiceController.js"></script>
  <script src="./pos-js/controllers/posMainController.js"></script>

  <script src="./pos-js/services/config.js"></script>

  <script src="./pos-js/controllers/loginController.js"></script>

  <script src="./pos-js/services/invoiceService.js"></script>
  <script src="./pos-js/services/customerPageService.js"></script>
  <script src="./pos-js/services/newCustomerService.js"></script>
  <script src="./pos-js/services/editCustomerService.js"></script>
  <script src="./pos-js/services/deleteCustomerService.js"></script>
  <script src="./pos-js/services/loginService.js"></script>
  <script src="./pos-js/services/smtCategoriesProductsService.js"></script>
  <script src="http://code.angularjs.org/snapshot/angular-messages.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>

	<style>
		.loading {
			border: 1px solid #6e7171;
			background: #6e7171;
			border-radius: 8px;
			color: #fff;
			padding: 20px;
			margin: 40px 500px;
			width: 100px;
		}
	</style>
</head>

<body class="pace-done" ng-app="myApp" ng-cloak>
	<!--<div class="pace  pace-inactive">
		<div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
			<div class="pace-progress-inner"></div>
		</div>
		<div class="pace-activity"></div>
	</div>-->

	<!-------------------------------------header part start here---------------------------------------------------------------->

	<!-- Fixed header top start here -->
	<div class="navbar" id="myDIV" ng-controller="posMainController">

		<!-- login person details start here -->
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 login-details">
			<form class="form-horizontal">
				<div class="form-group" style="float:left;width:100%;">

					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-12" id="">
						<div class="navbar-header"  id="top_logo_pos">
							<a class="navbar-brand111" href="#"><img src="./images/new-logo.png" alt="td logo" class="img-responsive"></a>
						</div>
					</div>

					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-12" id="sesTime">
						<label class="control-label "><b>Session Time : </b></label>
						<span ng-cloak>{{loginSessionTime}}</span>
					</div>

					<div class="col-md-5 col-lg-5 col-sm-5 col-xs-12" id="shopName">
						<label for="inputtxt" class="control-label"><b>Shop Name : </b></label>
						<span ng-cloak>{{shopName}}</span>
					</div>

					<!--<div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
							<span style="color:#b9f2ff;font-size:20px;"><i class="fa fa-circle"></i></span>
							<label class="control-label">Diamond</label>
						</div>-->
						
					<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12" id="usrName">
						<label for="inputtxt" class="control-label"><b>Hai, </b></label>
						<span ng-cloak>{{userName}}</span>
					</div>

				</div>
			</form>
		</div>

	</div>
	<!-- Fixed header top end here -->

	<!-------------------------------------------------header part end here---------------------------------------------------->
	<!-- Navigation start here -->
	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="menuToggle" ng-controller="posMainController">
		<nav class="navbar navbar-default" role="navigation" id="nav_bckground">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				 aria-expanded="false">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
			</div>

			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav products_menu">
					<li class="flat-box waves-effect waves-block"><a href="pos-site-index.html"><i class="fa fa-credit-card"></i>POS</a></li>
					<li class="flat-box waves-effect waves-block"><a href="products-page.html"><i class="fa fa-archive"></i>PRODUCTS</a></li>
					<li class="flat-box waves-effect waves-block"><a href="people-customers.html"><i class="fa fa-user"></i>CUSTOMERS</a></li>
					<!--<li class="flat-box waves-effect waves-block"><a href="pos-reports.html"><i class="fa fa-line-chart"></i>REPORTS</a></li>-->
					<li class="flat-box waves-effect waves-block"><a href="pos-orderinfo.html"><i class="fa fa-line-chart"></i>ORDERINFO</a></li>

					<li class="flat-box waves-effect waves-block"><a href="pos-invoice.html"><i class="fa fa-line-chart"></i>INVOICEINFO</a></li>

					<li class="flat-box waves-effect waves-block"><a href="pos-services.html"><i class="fa fa-line-chart"></i>SERVICES</a></li>
					<li class="flat-box waves-effect waves-block"><a href="pos-exchange.html"><i class="fa fa-line-chart"></i>EXCHANGE</a></li>
					<li class="flat-box waves-effect waves-block active"><a href="pos-transferorders.html"><i class="fa fa-share"></i>TRANSFER-ORDER</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="flat-box waves-effect waves-block" style="padding-right:20px;" ng-click="logOut()"><a  title="Logout" id="lgout"><i class="fa fa-sign-out fa-lg"></i>Logout</a></li>
				</ul>
			</div>
			<!-- Brand and toggle get grouped for better mobile display end here-->

			<div id="loadingimg" style="display: none;"></div>
		</nav>
	</div>
	<!-- navigation end here -->

  <div class="pos-main" ng-controller="invoicePageController">
<br><br>
 <div class="container" align="middle"  id="odinf">
	<div id="order_info_content">
      <form  name="transferOrderForm" >

        <label for="orderid" style="float:left;font-size: 14px;margin-bottom: 5px;font-weight: bold;">Order Id : </label>
        <input type="text" class="form-control" name="orderid" required id="orderid" ng-model="transferOrder.orderid" ng-pattern="/^[a-zA-Z0-9]*$/" placeholder="Enter Order Id" my-enter="getInvoiceDetails(invoice)">
        <div ng-messages="transferOrderForm.orderid.$error ">
          <p class="validationError errorMsg"  ng-message="pattern">Enter valid Order Id</p>

        </div>
        <p class="validationError errorMsg"  ng-show="submitted && transferOrderForm.orderid.$error.required">Enter Order Id</p>
		<button  style="margin-top:5px;float:right;"  class="btn btn-add" ng-click="submitted=true; transferOrderForm.$valid && transferOrders(transferOrder)">Transfer Order</button>
      </form>
	</div>
    </div>
<br><br>
 
   


  </div>


 


  <!--------------------in payment after submit button click pop-up will come like this end here--------------------------->

  <!-- slim scroll script -->
  <script type="text/javascript" src="./pos-js/jquery.slimscroll.min.js"></script>
  <!-- waves material design effect -->
  <script type="text/javascript" src="./pos-js/waves.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script type="text/javascript" src="./pos-js/bootstrap.min.js"></script>
  <!-- keyboard widget dependencies -->
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.keyboard.js"></script>
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.keyboard.extension-all.js"></script>
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.keyboard.extension-extender.js"></script>
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.keyboard.extension-typing.js"></script>
  <script type="text/javascript" src="http://www.dar-elweb.com/demos/zarpos/assets/js/jquery.mousewheel.js"></script>
  <!-- select2 plugin script -->
  <script type="text/javascript" src="./pos-js/select2.min.js"></script>
  <!-- dalatable scripts 
  <script src="../../pos-js/jquery.dataTables.min.js"></script>
  <script src="../../pos-js/dataTables.bootstrap.js"></script>-->
  <!-- summernote js -->
  <script src="./pos-js/summernote.js"></script>
  <!-- chart.js script -->
  <script src="./pos-js/Chart.js"></script>
  <!-- moment JS -->
  <script type="text/javascript" src="./pos-js/moment.min.js"></script>
  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="./pos-js/daterangepicker.js"></script>
  <!-- Sweet Alert swal -->
  <script src="./pos-js/sweetalert.min.js"></script>
  <!-- datepicker script -->
  <script src="./pos-js/bootstrap-datepicker.min.js"></script>
  <!-- creditCardValidator script -->
  <script src="./pos-js/jquery.creditCardValidator.js"></script>
  <!-- creditCardValidator script -->
  <script src="./pos-js/credit-card-scanner.js"></script>
  <script src="./pos-js/jquery.redirect.js"></script>
  <!-- ajax form -->
  <script src="./pos-js/jquery.form.min.js"></script>
  <!-- custom script -->
  <script src="./pos-js/app.js"></script>

</body>

</html>