<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="#">
  <title>POS-Mobile Verification Form</title>
	
	
	<!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <!-- normalize & reset style -->
    <link rel="stylesheet" href="http://www.dar-elweb.com/demos/zarpos/assets/css/normalize.min.css" type="text/css">
    <link rel="stylesheet" href="http://www.dar-elweb.com/demos/zarpos/assets/css/reset.min.css" type="text/css">
  <script src="./pos-js/jquery-1.11.2.min.js"></script>
  <script src="./pos-js/bootstrap.min.js"></script>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="./pos-css/form-style.css" type="text/css" />
	<!-- Custom CSS -->
  <link href="./pos-css/Style-Light.css" rel="stylesheet" type="text/css">
	
	<!-- angular links -->
	<script src="./pos-js/angular.min.js"></script>
	<script src="./pos-js/angular-app.js"></script>
	<script src="./pos-js/controllers/pos-filter.js"></script>
	<script src="./pos-js/controllers/productController.js"></script>
	<script src="./pos-js/controllers/smtCategoriesProductsController.js"></script>
	<script src="./pos-js/controllers/ordersController.js"></script>
	<script src="./pos-js/controllers/headerController.js"></script>
	<script src="./pos-js/controllers/customerPageController.js"></script>
	<script src="./pos-js/controllers/posMainController.js"></script>
	<script src="./pos-js/services/ordersService.js"></script>
	<script src="./pos-js/controllers/loginController.js"></script>
	<script src="./pos-js/services/productService.js"></script>
	<script src="./pos-js/services/customerPageService.js"></script>
	<script src="./pos-js/services/newCustomerService.js"></script>
	<script src="./pos-js/services/loginService.js"></script>
	<script src="./pos-js/services/smtCategoriesProductsService.js"></script>
	<script src="http://code.angularjs.org/snapshot/angular-messages.js"></script>
	
	
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
  .fa{
	display: none !important;
  }
  </style>
  <!--<script>
  jQuery(function () {
    var $els = $('div[id^=quote]'),
        i = 0,
        len = $els.length;

    $els.slice(1).hide();
    setInterval(function () {
        $els.eq(i).fadeOut(function () {
            i = (i + 1) % len
            $els.eq(i).fadeIn();
        })
    }, 5000)
})

  </script>-->
</head>

<body ng-app="myApp1">
 
  <!-- Fixed header top start here -->
    <div class="navbar navbar-default navbar-fixed-top">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<h1 class="login-title-pos">WELCOME TO SMT-HUB POS</h1>
        </div>
    </div>
    <!-- Fixed header top end here -->
  
    <!-- Begin page content -->
    <div class="bg-imageDiv">
      <div class="container" id="wrapper">
        <div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="">
				<div class="loginmodal-container" style="max-width:500px;">
					   <img src="./images/logo-admin.png" alt="logo" class="logo-pos-main">
						<!--<h1>Create Your Account</h1><br>-->
						<form method="post" accept-charset="utf-8" class="login">
							<input type="text" autofocus="" name="mobilenumber" value="" placeholder="Mobile Number" required="" ng-model="">
							<input type="submit" name="submit" value="Continue" class="login loginmodal-submit" ng-click="">
							<div class="panel-footer formPanel-footer">
							  <div class="row">
								<div class="col-xs-offset-3 col-xs-8 col-sm-offset-3 col-sm-8">
								  <div class="form-group">
									<span id="loginfooter-span">New to SMT-POS?</span>
									<a href="pos_cust_registration.html" style="color:#068693;font-weight:bold;">
									  <span class="glyphicon glyphicon-share-alt login-signupicon"></span> <span><strong>SignUp</strong></span>
									</a>
								  </div>
								</div>
							  </div>
							</div>
						</form>
					<div class="login-help">© 2017 Goldensun Technology Pvt Ltd</div>
				</div>
			</div>
        </div>
      </div>
    </div>
	<!-- Begin page content end-->
   
    <!-- footer -->
    <div id="footer">
      <footer class="footer">
			<div class="row">
				<marquee><h2>Welcome to POS Shopping</h2></marquee>
			</div>
      </footer>
    </div>
    <!-- /footer -->

</body>

</html>